@import "../../styles/global-imports";

.chart-wrapper {
  flex: 3;
  max-width: 55vw;
  height: toRem(300px);
  background-color: $white;
  border-radius: 5px;
  box-shadow: $shadowTwo;
  padding: toRem(25px);
}

.chart-title {
  color: $tertiaryColor;
  font-weight: 400;
  font-size: toRem(20px);
}

.chart-container {
  height: 90%;
}

@include customBreakpoint(1180px) {
  .chart-wrapper {
    width: 100%;
    max-width: 70vw;
  }

  .chart-container {
    height: toRem(250px);
    width: 100%;
  }
}

@include customBreakpoint(1058px) {
  .chart-wrapper {
    max-width: 100%;
  }
}

@include customBreakpoint(613px) {
  .chart-wrapper {
    // max-width: fit-content;
    height: toRem(450px);
    overflow-x: scroll;
  }

  .chart-container {
    // width: 500px;
  }
}
