@import "../../styles/global-imports";

.register-title {
  color: $primaryColor;
  font-weight: 500;
  font-size: toRem(50px);
  margin-top: toRem(50px);
  margin-bottom: toRem(30px);
}

.register-form {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  border: 0.5px solid $secondaryLightColor;
  padding: toRem(30px);
  border-radius: 10px;
  margin-bottom: toRem(50px);
}

.register-input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: toRem(15px);
}

.register-input-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 13px);
  transition: transform 0.25s ease;
  color: $primaryColor;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.register-input {
  border: 1px solid $secondaryLightColor;
  height: toRem(50px);
  padding: toRem(10px);

  &:focus {
    outline: none;
    border-color: $primaryColor;
  }
}

.register-input:focus + .register-input-label,
.register-input:not(:placeholder-shown) + .register-input-label {
  transform: translate(-1px, -10px) scale(0.8);
  border-radius: 20px;
  padding-inline: 5px;
  background-color: $white;
}

.register-button {
  border-style: none;
  border-radius: 5px;
  background-color: $primaryColor;
  color: $white;
  font-size: toRem(18px);
  padding: toRem(15px);
  width: fit-content;
  margin-bottom: toRem(15px);
  margin-top: toRem(15px);
  cursor: pointer;

  &:active {
    background-color: $primaryDarkColor;
  }
}
