@import "../../styles/global-imports";

.product-item-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  margin: 10px 10px;
  padding: 15px;
}

.product-item-image {
  width: toRem(200px);
}

.circle-border {
  border-radius: 60px;
}

.product-item-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.product-item-title {
  color: rgb(57, 61, 70);
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.product-price {
  color: $textColor;
  font-weight: 400;
}

.product-cart-button {
  width: 100%;
  margin: 0 10px 20px 10px;
  background-color: $primaryColor;
  border: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $primaryDarkColor;
  }
}

.item-icon,
.product-button-text {
  color: $white;
}

.item-icon {
  font-size: toRem(20px);
  padding-right: 5px;
}
