@import "../../styles/global-imports";

.widget-wrapper {
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 45px;
}

.widget-icon {
  color: $primaryColor;
  font-size: toRem(50px);
  margin-bottom: 30px;
}

.widget-title {
  color: $textColor;
  font-weight: 500;
  font-size: toRem(24px);
  margin-bottom: 25px;
}

.widget-desc {
  font-size: toRem(15px);
  color: $textLightColor;
  margin-bottom: 30px;
  line-height: 25px;
}

.more {
  color: $textColor;
  font-weight: 500;
}

@include tabletBreakpoint {
  .widget-wrapper {
    padding: 20px;
  }
}
