@import "../../styles/global-imports";

.widgets-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

@include customBreakpoint(600px) {
  .widgets-container {
    flex-direction: column;
  }
}
