.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  width: calc(100% - 150px - 150px);
  transition: width 0.5s ease;
}

.products-heading {
  color: rgb(57, 61, 70);
  margin-top: 200px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 60px;
}

.trend {
  background-color: rgb(57, 61, 70);
  height: 500px;
  margin-bottom: 350px;
  transition: margin-bottom 1s ease;
}

.trend-container {
  display: flex;
  flex-direction: column;
  padding: 85px;
  margin-top: 40px;
}

.trend-title {
  color: white;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  .home {
    width: 100%;
    padding: 25px 20px;
  }
}

@media screen and (max-width: 768px) {
  .trend {
    height: 400px;
  }

  .trend-container {
    padding: 20px;
  }

  .trend-title {
    font-size: 36px;
  }
}

@media screen and (max-width: 600px) {
  .trend {
    height: auto;
    margin-bottom: 50px;
  }
}
