@import "../../styles/global-imports";

.table-wrapper {
  border-radius: 5px;
  padding: toRem(5px);
  max-width: 100%;
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table-row {
  border-top: 1px solid $secondaryLightColor;

  &:hover {
    background-color: $backgroundColor;
  }
}

.table-column-item {
  font-size: toRem(18px);
  font-weight: 300;
  color: $textColor;
  text-align: start;
  padding: toRem(5px);
}

.table-row-item {
  padding: toRem(5px);
}

.table-column-check,
.table-row-check {
  padding: toRem(5px);
}

.table-column-check {
  padding-left: 0;
}

.table-check {
  cursor: pointer;
}

.pagination-footer {
  justify-self: end;
  align-items: center;
  display: flex;
  width: 100%;
  color: $textColor;
  justify-content: space-around;
}

.pagination-button {
  padding: toRem(5px);
  font-size: toRem(18px);
  background-color: $white;
  color: $tertiaryColor;
  border: 1px solid $tertiaryColor;
  border-radius: 10px;
  font-weight: 400;
  cursor: pointer;

  &:active {
    background-color: $tertiaryColor;
    color: $white;
  }
}

@include customBreakpoint(500px) {
  .pagination-footer {
    flex-direction: column;
    gap: toRem(2px);
  }

  .pagination-button {
    width: 80%;
  }
}
