@import "../../styles/global-imports";

.footer-wrapper {
  height: fit-content;
  display: flex;
  margin-top: auto;
  padding-bottom: toRem(20px);
  align-items: center;
  justify-content: space-around;
  transition: height 1s ease;
}

.footer-left,
.footer-right,
.footer-center {
  flex: 1;
  @include fadeStartAnimation(2s, -100px);
}

.footer-active {
  @include fadeEndAnimation;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-brand {
  color: $textColor;
  font-size: toRem(25px);
}

.copyright {
  color: $textLightColor;
}

.footer-center {
  display: flex;
  justify-content: center;
  gap: toRem(20px);
}

.footer-icon {
  font-size: toRem(30px);
  color: $textLightColor;
  transition: transform 0.3s;

  &:hover {
    color: $textColor;
    transform: scale(1.25);
    cursor: pointer;
  }
}

.footer-right {
  display: flex;
  justify-content: flex-end;
}

@include tabletBreakpoint {
  .footer-wrapper {
    height: toRem(100px);
  }
}

@include customBreakpoint(600px) {
  .footer-wrapper {
    flex-direction: column;
    height: toRem(150px);
  }

  .footer-left,
  .footer-right,
  .footer-center {
    align-items: center;
    justify-content: center;
  }
}
