@import "../../styles/global-imports";

.slider-wrapper {
  display: flex;
  justify-content: center;
}

.slider {
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  z-index: 1;
  position: relative;
}

.slider-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: toRem(150px);
  width: 50%;
}

.slider-heading {
  color: $textColor;
  font-weight: 400;
  font-size: toRem(100px);
  line-height: 128%;
  overflow-wrap: break-word;
}

.slider-desc {
  display: inline-block;
  padding-top: toRem(32px);
  color: $textLightColor;
}

.slider-price-wrapper {
  display: flex;
  align-items: center;
  margin-top: toRem(40px);
  margin-bottom: toRem(30px);
}

.slider-price {
  color: $textLightColor;
}

.slider-price-number {
  color: $textColor;
  font-size: 150%;
  font-weight: 600;
  padding: toRem(10px);
}

.slider-button {
  padding: toRem(20px);
  width: toRem(190px);
  background-color: $backgroundColor;
  border: solid 2px $primaryColor;
}

.slider-img-wrapper {
  width: 50%;
}

.slider-img {
  height: 46.3vw;
  margin-top: toRem(70px);
}

@include laptopBreakpoint {
  .slider-text-wrapper {
    padding: toRem(20px);
  }

  .slider-heading {
    font-size: toRem(60px);
  }
}

@include tabletBreakpoint {
  .slider-heading {
    font-size: toRem(50px);
  }

  .slider-text-wrapper,
  .slider-img-wrapper {
    width: 100%;
  }

  .slider-img-wrapper {
    display: flex;
    justify-content: center;
  }

  .slider-img {
    margin-top: 0;
    min-height: 100vw;
  }
}
