@import "../../styles/global-imports";

.widget-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: toRem(15px);
  box-shadow: $shadowOne;
  border-radius: 5px;
  height: toRem(150px);
  background-color: $white;
}

.widget-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.widget-title {
  color: $tertiaryColor;
  font-size: toRem(20px);
  font-weight: 400;
}

.widget-number {
  font-size: 3vw;
  font-weight: 400;
  color: $textColor;
}

.widget-link {
  outline: none;
  border-bottom: 1px solid $tertiaryColor;
  width: max-content;
  color: $tertiaryColor;
  font-weight: 300;
}

@include tabletBreakpoint {
  .widget-number {
    font-size: 5vw;
  }
}

@include lgMobileBreakpoint {
  .widget-number {
    font-size: 10vw;
  }
}
