// Colors
$primaryColor: rgba(57, 61, 70, 0.87);
$primaryDarkColor: rgb(29, 29, 31);

$secondaryColor: rgb(105, 128, 143);
$secondaryLightColor: rgb(211, 206, 210);

$tertiaryColor: rgb(116, 81, 248);
$tertiaryColorLight: rgb(193, 179, 253);
$tertiaryColorDark: rgb(50, 24, 148);

$sucessColor: rgb(19, 202, 28);
$sucessColorLight: rgb(187, 255, 190);
$sucessColorDark: rgb(10, 124, 16);
$alertColor: rgb(233, 15, 15);
$alertColorLight: rgb(250, 152, 152);
$alertColorDark: rgb(139, 15, 15);

$backgroundColor: rgb(235, 237, 243);
$secondaryBackgroundColor: rgb(240, 241, 245);
$white: white;

$textColor: rgb(57, 61, 70);
$textLightColor: rgb(105, 128, 143);

// Screen Sizes
$mobile-sm: 320px;
$mobile-md: 375px;
$mobile-lg: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-lg: 1440px;
$xxl: 2560px;

// Shadows
$shadowOne: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
$shadowTwo: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
$shadowThree: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
  0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);

$htmlFontSize: 16px;
