@import "../../styles/global-imports";

.widget-md-wrapper {
  flex: 1;
  display: flex;
  align-items: flex-end;
  width: 100%;
  position: relative;
  height: toRem(300px);
  //   height: 100px;
}

.widget-md-chart {
  padding: 10px;
  position: absolute;
  top: -10px;
  left: 15%;
  width: 70%;
  height: 120px;
  max-width: 90%;
  background-color: $white;
  border-radius: 20px;
  box-shadow: $shadowThree;
}

.widget-md-info-wrapper {
  background-color: $white;
  border-radius: 10px;
  padding: toRem(20px);
  padding-top: 80px;
  box-shadow: $shadowTwo;
  max-height: 100%;
  min-height: 70%;
}
