@import "../../styles/global-imports";

.users {
  flex: 4;
  background-color: $white;
  padding: toRem(40px);
  border-radius: 10px;
  min-height: 70vh;
  max-width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: toRem(20px);
  position: relative;
}

.users-new-user {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: toRem(5px);
  border-bottom: 1px solid $secondaryLightColor;
  z-index: 1;
}

.add-new-user {
  color: $tertiaryColor;
  font-weight: 500;
  font-size: toRem(30px);
}

.add-new-button {
  color: $white;
  background-color: $sucessColor;
  border-radius: 10px;
  padding: toRem(10px);

  &:active {
    background-color: $sucessColorDark;
  }
}

.users-item {
  display: inline-block;
  padding: toRem(10px);
  color: $primaryColor;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: toRem(200px);
  transition: padding 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.user-name {
  max-width: toRem(450px);
}

.users-options {
  display: flex;
  align-items: center;
}

.users-view {
  margin-right: toRem(15px);
  color: $tertiaryColor;
  border: 1px dotted $tertiaryColor;
  border-radius: 10px;
  padding: toRem(3px);

  &:active {
    background-color: $tertiaryColor;
    color: $white;
  }
}

.users-delete {
  color: $alertColor;
  font-size: toRem(15px);
  background-color: $white;
  border: 1px dotted $alertColor;
  border-radius: 10px;
  padding: toRem(5px);
  cursor: pointer;

  &:active {
    background-color: $alertColor;
    color: $white;
  }
}

.users-loader-backdrop {
  background-color: rgba(236, 236, 236, 0.61);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.users-loader {
  @include loader(64px, 6px);
}

@include tabletBreakpoint {
  .add-new-user {
    font-size: 5vw;
  }

  .add-new-button {
    font-size: 3vw;
  }

  .users-item {
    padding: toRem(5px);
  }

  .user-name {
    max-width: toRem(250px);
  }
}

@include lgMobileBreakpoint {
  .users-item {
    max-width: toRem(100px);
  }

  .user-name {
    max-width: toRem(300px);
  }
}
