@import "../../styles/global-imports";

.cart-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: toRem(10px);
}

// @include customBreakpoint(599px) {
//   .cart-items-wrapper {
//     overflow-x: scroll;
//   }
// }
