@import "../../styles/_global-imports.scss";

.navbar {
  height: toRem(150px);
  display: flex;
  width: auto;
  transition: height 1s ease;
}

.left {
  display: flex;
  flex: 1;
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primaryColor;
  width: 150px;
}

.burger {
  background-color: $white;
  margin: 2px auto;
  height: 3px;
  width: 20px;
}

.nav-title {
  padding-left: 50px;
  font-weight: 600;
  font-size: toRem(25px);
  align-self: center;
  color: $textColor;
}

.icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.icons {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.navbar-icon-link {
  margin-right: 30px;
}

.icon {
  color: rgb(57, 61, 70);
  font-size: toRem(25px);
}

.cart {
  position: relative;
}

.cart-number {
  position: absolute;
  top: toRem(-6px);
  right: toRem(-6px);
  font-size: toRem(10px);
  font-weight: 500;
  color: $white;
  background-color: $primaryColor;
  width: toRem(15px);
  height: toRem(15px);
  text-align: center;
  border-radius: 50%;
}

.login {
  color: $white;
  font-size: toRem(15px);
  font-weight: 500;
  padding: 10px 30px;
  background-color: $primaryColor;
  cursor: pointer;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: $primaryDarkColor;
  }
}

.nav-user {
  display: flex;
  align-items: center;
}

.nav-user-profile {
  width: toRem(45px);
  height: toRem(45px);
  border-radius: 50px;
}

.right {
  display: flex;
  align-items: center;
  width: toRem(150px);
}

@include laptopBreakpoint {
  .navbar {
    font-size: toRem(5px);
    flex-wrap: wrap;
    height: 100px;
  }

  .hamburger {
    width: toRem(100px);
  }

  .right {
    display: none;
  }
}

@include tabletBreakpoint {
  .navbar {
    height: toRem(150px);
  }

  .left {
    justify-content: space-between;
    order: 2;
    min-width: 100%;
  }

  .hamburger {
    width: toRem(75px);
  }

  .nav-title {
    padding-right: 10px;
  }

  .icons-wrapper {
    justify-content: center;
    order: 1;
    min-width: 100%;
  }

  .icons {
    padding: 0;
  }

  .icon {
    font-size: toRem(20px);
  }
}
