// Colors
$primaryColor: rgb(57, 61, 70);
$primaryDarkColor: rgb(29, 29, 31);
$secondaryColor: rgb(105, 128, 143);
$secondaryLightColor: rgb(211, 206, 210);

$backgroundColor: rgb(246, 247, 251);
$white: white;

$textColor: rgb(57, 61, 70);
$textLightColor: rgb(105, 128, 143);

// Screen Sizes
$mobile-sm: 320px;
$mobile-md: 375px;
$mobile-lg: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-lg: 1440px;
$xxl: 2560px;

$htmlFontSize: 16px;
