// Colors
$primaryColor: rgb(57, 61, 70);
$secondaryColor: rgb(105, 128, 143);

$backgroundColor: rgb(246, 247, 251);
$secondaryBackgroundColor: white;

$priaryTextColor: rgb(57, 61, 70);
$secondaryTextColor: rgb(105, 128, 143);
