@import "../../styles/global-imports";

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 200px;
  @include fadeStartAnimation(2s, 100px);
}

.products-active {
  @include fadeEndAnimation;
}
