@import "../../styles/global-imports";

.single-product-wrapper {
  background-color: $white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex: 4;
  gap: toRem(10px);
  padding: toRem(40px);
  min-height: 80vh;
}

.single-product-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: toRem(30px);
}

.single-product-title {
  color: $tertiaryColor;
}

.single-create-product {
  display: inline-block;
  color: $white;
  background-color: $tertiaryColor;
  border-radius: 10px;
  padding: toRem(10px);

  &:active {
    background-color: $tertiaryColorDark;
  }
}

.single-product-info-title {
  color: $tertiaryColor;
  margin-bottom: toRem(20px);
  font-size: toRem(20px);
}

.single-product-form-divider {
  display: flex;
  flex-direction: column;
  gap: toRem(20px);
  margin-bottom: toRem(50px);
  width: 60%;
}

.single-product-label {
  color: $tertiaryColor;
  margin-bottom: toRem(5px);
}

.single-product-form-right {
  display: flex;
  margin-bottom: toRem(30px);
  gap: toRem(20px);
}

.single-product-upload {
  background-color: $sucessColor;
  color: $white;
  border-radius: 20px;
  border: none;
  font-size: toRem(16px);
  font-weight: 600;
  padding: toRem(15px);
  cursor: pointer;

  &:active {
    background-color: $sucessColorDark;
  }
}

@include customBreakpoint(700px) {
  .single-product-form-right {
    flex-direction: column;
  }

  .single-product-form-divider {
    width: 100%;
  }
}
